body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100vh;
    margin: 0;

    font-family: "Inter", system-ui, sans-serif;

    color: #333;
    text-align: center;
    padding-top: 20vh;
    box-sizing: border-box;

    background-color: #eaeff2;
}

h1 {
    font-weight: normal;
    color: #222;
    margin-bottom: 0.5em;
}

p {
    margin: 1.5em 0;
}

strong {
    font-weight: 500;
}

.links {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    flex-wrap: wrap;
}

.icon {
    width: 18px;
    height: 18px;
    margin-right: 6px;
    vertical-align: middle;
}

a {
    display: inline-flex;
    align-items: center;
    color: #007acc;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}

a span {
    position: relative;
}
